<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- 
    <bean id="login.action" class="com.hostel.action.SampleAction" >
    	<property name="message" value="Hello World!" />
    </bean>
     -->
     <bean id="login.action" class="com.hostel.action.SampleAction"/>
    
</beans>


