<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						   http://www.springframework.org/schema/beans/spring-beans-2.0.xsd">
						   
	<bean name="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	    <property name="driverClassName" value="com.mysql.jdbc.Driver" />
	    <property name="url" value="jdbc:mysql://localhost:3306/hostellatest1" />
	    <property name="username" value="root" />
	    <property name="password" value="" />
	</bean>	
	
	<bean id="genericDAO" class="com.hostel.dao.impl.GenericDAO" abstract="true">
		<property name="dataSource" ref="dataSource"/>
	</bean>

	<bean id="genericRowMapper" class="com.hostel.dao.rowmapper.GenericRowMapper" abstract="true"/>
	<bean id="hostelRowMapper" class="com.hostel.dao.rowmapper.HostelRowMapper" parent="genericRowMapper"/>
	<bean id="roomRowMapper" class="com.hostel.dao.rowmapper.RoomRowMapper" parent="genericRowMapper"/>
	<bean id="bedRowMapper" class="com.hostel.dao.rowmapper.BedRowMapper" parent="genericRowMapper"/>
	<bean id="bedCostRowMapper" class="com.hostel.dao.rowmapper.BedCostRowMapper" parent="genericRowMapper"/>
	<bean id="customerRowMapper" class="com.hostel.dao.rowmapper.CustomerRowMapper" parent="genericRowMapper"/>
	<bean id="orderRowMapper" class="com.hostel.dao.rowmapper.OrderRowMapper" parent="genericRowMapper"/>
	<bean id="revenueRowMApper" class="com.hostel.dao.rowmapper.RevenueRowMApper" parent="genericRowMapper"/>
	
	<!-- hostel.dao,room.dao,bed.dao,bedCost.dao -->
	<bean id="hostel.dao" class="com.hostel.dao.impl.HostelDAOImpl" parent="genericDAO" scope="prototype">     	
     	<property name="hostelRowMapper" ref="hostelRowMapper"/>
     </bean>
     
     <bean id="room.dao" class="com.hostel.dao.impl.RoomDAOImpl" parent="genericDAO" scope="prototype">     	
     	<property name="roomRowMapper" ref="roomRowMapper"/>     	
     </bean>
     
     <bean id="bed.dao" class="com.hostel.dao.impl.BedDAOImpl" parent="genericDAO" scope="prototype">     	
     	<property name="bedRowMapper" ref="bedRowMapper"/>
     </bean>
     
     <bean id="bedCost.dao" class="com.hostel.dao.impl.BedCostDAOImpl" parent="genericDAO" scope="prototype">     	
     	<property name="bedCostRowMapper" ref="bedCostRowMapper"/>
     </bean>
     
     <bean id="customer.dao" class="com.hostel.dao.impl.CustomerDAOImpl" parent="genericDAO" scope="prototype">     	
     	<property name="customerRowMapper" ref="customerRowMapper"/>
     </bean>
     
     <bean id="order.dao" class="com.hostel.dao.impl.OrderDAOImpl" parent="genericDAO" scope="prototype">     	
     	<property name="orderRowMapper" ref="orderRowMapper"/>
     	<property name="revenueRowMApper" ref="revenueRowMApper"/>     	
     </bean>
     
     
     
     
</beans>