<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	 
    
     <bean id="login.action" class="com.hostel.sample.SampleAction"/>
     <bean id="link.action" class="com.hostel.sample.LinkAction"/>
     
     <bean id="command.processor" class="com.hostel.commandline.CommandProcessor">     	
     	<property name="hostelService" ref="hostel.service"/>
     	<property name="searchService" ref="search.service"/>
     	<property name="customerService" ref="customer.service"/>
     </bean>
     
         
     <bean id="room.action" class="com.hostel.action.RoomAction">     	
     	<property name="roomService" ref="room.service"/>
     </bean>
      
      
     
</beans>


